:root {
    --delft-blue: #2a3e73;
    --dun: #dcccbc;
    --chamoisee: #947b61;
    --alloy-orange: #c16220;
    --russet: #924e22;
    --primary-font: "Quicksand", Arial, sans-serif;
    --secondary-font: "Chilanka", cursive;
}

header {
    background-color: var(--delft-blue);
    border-bottom: 10px solid var(--russet);
    position: relative;
}

header h1 {
    color: var(--dun);
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    padding: 50px 0px 0px;
    text-align: center;
}

header img {
    position: absolute;
    left: 30px;
    top: 30px; 
}

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: var(--primary-font);
    font-size: 2rem;
    color: var(--dun);
    text-decoration: none;
}

#menu::before {
    content: "≡";
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--delft-blue);
}

nav li {
    display: none;
}

nav a {
    display: block;
    font-size: 1.5rem;
    color: var(--dun);
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--dun);
    color: var(--delft-blue);
    border: 3px solid var(--russet);
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

body {
    background-color: var(--dun);
}

main.product-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1600px;
}

main h2 {
    color: var(--delft-blue);
    text-align: center;
    font-size: 2rem;
    grid-column: 1/-1;
    margin-bottom: 10px;
}

.product-info section {
    background-color: white;
    border: 3px solid var(--chamoisee);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-info h3 {
    font-size: 1.8rem;
    color: var(--delft-blue);
    margin-bottom: 10px;
}

.product-info p {
    font-size: 1.2rem;
    margin: 8px 0;
    color: var(--delft-blue);
}

.product-info .label {
    color: var(--alloy-orange);
    font-weight: bold;
    text-shadow: 0 1px 2px var(--russet);
}

.hero {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    display: block;
}

footer {
    background-color: var(--delft-blue);
    color: var(--dun);
    text-align: center;
    border-top: 10px solid var(--russet);
    padding: 10px;
}