:root {
    --delft-blue: #2a3e73;
    --dun: #dcccbc;
    --chamoisee: #947b61;
    --alloy-orange: #c16220;
    --russet: #924e22;
    --primary-font: "Quicksand", Arial, sans-serif;
    --secondary-font: "Chilanka", cursive;
}

body {
    font-family: var(--primary-font);
    color: var(--delft-blue)
}

header {
    background-color: var(--delft-blue);
    border-bottom: 10px solid var(--russet);
    font-family: var(--secondary-font);
}

header h1 {
    color: var(--dun);
    text-align: center;
    padding: 30px 0px 0px;
}

header h2 {
    color: var(--dun);
    text-align: center;
}

h3 {
    text-align: center;
}

main img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.wireframes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    padding: 10px;
    justify-content: center;
}

.wireframes figcaption {
    text-align: center;
    font-family: var(--primary-font);
}



h3, .chilanka {
    font-family: var(--secondary-font);
}

footer {
    background-color: var(--delft-blue);
    color: var(--dun);
    text-align: center;
    border-top: 10px solid var(--russet);
    padding: 10px;
}