@media screen and (min-width: 600px) {

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    nav {
        grid-column: 2/3;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        background-color: transparent;
    }

    #menu {
        display: none;
    }

    nav li {
        display: block;
    }

    nav a {
        font-size: 1.4rem;
        padding: 15px;
    }

    .temple-album section {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 25px;
        padding: 20px;
    }
}